<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" 
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xmlns:aop="http://www.springframework.org/schema/aop" 
    xmlns:context="http://www.springframework.org/schema/context" 
    xmlns:tx="http://www.springframework.org/schema/tx"
    xmlns:mvc="http://www.springframework.org/schema/mvc" 
    xmlns:task="http://www.springframework.org/schema/task"  
    xsi:schemaLocation="http://www.springframework.org/schema/beans    
      http://www.springframework.org/schema/beans/spring-beans-2.5.xsd   
      http://www.springframework.org/schema/context   
      http://www.springframework.org/schema/context/spring-context-2.5.xsd   
      http://www.springframework.org/schema/aop   
      http://www.springframework.org/schema/aop/spring-aop-2.5.xsd   
      http://www.springframework.org/schema/tx   
      http://www.springframework.org/schema/tx/spring-tx-2.5.xsd
      http://www.springframework.org/schema/task
	  http://www.springframework.org/schema/task/spring-task.xsd"
       default-autowire="byName" default-lazy-init="false"> 

	<!-- <bean id="userLoginAction" class="com.action.UserLoginAction"></bean> -->
	<!-- 数据库连接bean -->
	<bean id="dataSource"
		class="org.apache.commons.dbcp.BasicDataSource">
		<property name="driverClassName"
			value="com.microsoft.sqlserver.jdbc.SQLServerDriver">
		</property>
		
		<!-- <property name="url" value="jdbc:sqlserver://mingxin2017.iok.la:30487"></property>
		<property name="username" value="sa"></property>
		<property name="password" value="mingxin_@2017"></property> -->
		
		
		<property name="url" value="jdbc:sqlserver://127.0.0.1:7788"></property>
		<property name="username" value="sa"></property>
		<property name="password" value="mingxin_@2017"></property>
		
	</bean>
	
	<!-- session意为 轻量级的类，创建了数据库访问的类实现 -->
	<bean id="sessionFactory" class="org.springframework.orm.hibernate3.annotation.AnnotationSessionFactoryBean">    
        <property name="dataSource">    
            <ref local="dataSource" />    
        </property>    
        <property name="hibernateProperties">    
            <props>    
                <!--配置Hibernate的方言-->    
                <prop key="hibernate.dialect">    
                 org.hibernate.dialect.SQLServerDialect    
                </prop>                    
                <prop key="hibernate.hbm2ddl.auto">update</prop>    
                    
                <!--格式化输出sql语句-->    
                <prop key="hibernate.show_sql">true</prop>    
                <prop key="hibernate.format_sql">true</prop>      
                <prop key="hibernate.use_sql_comments">false</prop>      
            </props>    
        </property>    
            
        <!--自动扫描实体 -->    
        <!-- <property name="packagesToScan"  value="com.mx.ssh.bean" /> -->  
        <property name="mappingLocations">  
        	<value>classpath:/com/mx/ssh/bean/*.hbm.xml </value><!-- 扫描所有bean实体类配置文件 -->
    	</property>    
    </bean> 
		
		<!-- 用注解来实现事务管理 -->    
    <bean id="txManager" class="org.springframework.orm.hibernate3.HibernateTransactionManager">    
        <property name="sessionFactory" ref="sessionFactory"></property>          
    </bean>    
    <tx:annotation-driven transaction-manager="txManager"/>    

	<!-- 使Spring关注Annotation -->
	<context:annotation-config />

 	<!-- 让Spring通过自动扫描来查询和管理Bean -->
	<!-- <context:component-scan base-package="com.mx.ssh" ></context:component-scan>   -->
	<context:component-scan base-package="com" use-default-filters="false">
        <context:include-filter type="regex" expression="com.mx.ssh.action.*"/>
        <context:include-filter type="regex" expression="com.mx.ssh.service.impl.*"/>
        <context:include-filter type="regex" expression="com.mx.ssh.dao.impl.*"/>
        <context:include-filter type="regex" expression="com.mx.weixin.util.*"/>
        <context:include-filter type="regex" expression="com.mx.publicMethos.*"/>
	</context:component-scan>
	
	<task:annotation-driven /> <!-- 定时器开关-->  
  	<context:component-scan base-package="com.mx.weixin.task"></context:component-scan>
  

	</beans>
